<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#2c3e50" />

  <link rel="apple-touch-icon" href="/icons/vk-192.png">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/responsive.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./vklogo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <title>VK's Restaurant</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to Our Restaurant</a>
  <custom-header></custom-header>
  <custom-drawer></custom-drawer>
  <custom-hero></custom-hero>
  <main tabindex="0" id="main-content"></main>
  <custom-footer></custom-footer>
</body>

</html>